<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXFO</title>
</head>
    
<body style="background-image:url(https://img.freepik.com/free-vector/simple-gradient-background-vector-winter-blue-pink_53876-105768.jpg?w=2000 );">
   
   <div> <text-align:c></text-align:c><h1>EXFO</h1></text-align:c>
    <IMG SRC="https://play-lh.googleusercontent.com/askzj4hfKQ-8YzAQTI4z9tl2vBSH7lzm1UYb6JGR901URXYXR6VXRbZNi_SAxaIuX-c"ALT="EXFO">
</div>
<PRE>EXFO develops smarter test, monitoring and analytics solutions for fixed and mobile network operators, webscale companies and equipment manufacturers in the global communications industry. Our customers count on our unique blend of equipment, software and services to accelerate digital transformations related to fiber, 4G/LTE and 5G deployments. We’ve spent over 30 years earning this trust, and today more than 1,900 EXFO employees in over 25 countries work side by side with our customers in the lab, field, data center and beyond.
    
</PRE>

</body>
</html>