<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VALUE LABS</title>
</head>
    
<body style="background-image:url(https://img.freepik.com/free-vector/simple-gradient-background-vector-winter-blue-pink_53876-105768.jpg?w=2000 );">
   <div> <text-align:c></text-align:c><h1>VALUE LABS</h1></text-align:c>
    <IMG SRC="" HEIGHT="50PX">
</div>
<PRE>Technology, innovation and problem solving – that’s where we play. We specialize in digital enablement, software product development and data technology. We are a trusted technology partner to over 150 clients globally, serving them from 28 offices worldwide using our OneCompany® model of engagement.
    We were born out of an unselfish act when we built a free, computer based learning program for school students. To sustain this financially, we used the same infrastructure for software projects and the original team of 3 people has now grown to over 5,500. The founding unselfish gene is intact and we bring that same spirit of service to clients globally.
    
</PRE>
</body>
</html>