<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITC</title>
</head>
    
<body style="background-image:url(https://img.freepik.com/free-vector/simple-gradient-background-vector-winter-blue-pink_53876-105768.jpg?w=2000 );">
   
   <div> <text-align:c></text-align:c><h1>ITC</h1></text-align:c>
    <IMG SRC="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/ITC_Limited_Logo.svg/1966px-ITC_Limited_Logo.svg.png"ALT="ITC">
</div>
<PRE>TC Infotech is a leading global technology services and solutions provider, led by Business and Technology Consulting. ITC Infotech provides business-friendly solutions to help clients succeed and be future-ready, by seamlessly bringing together digital expertise, strong industry speciﬁc alliances, and the unique ability to leverage deep domain expertise from ITC Group businesses.

    The company provides technology solutions and services to enterprises across industries such as Banking & Financial Services, Healthcare, Manufacturing, Consumer Goods, Travel, and Hospitality, through a combination of traditional and newer business models, as a long-term sustainable partner.
    
    ITC Infotech is a wholly-owned subsidiary of ITC Ltd. ITC is one of India’s leading private sector companies and a diversified conglomerate with businesses spanning Consumer Goods, Hotels, Paperboards, and Packaging, Agri-Business, and Information Technology.
    
</PRE>

</body>
</html>