<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTEL</title>
</head>
    
<body style="background-image:url(https://img.freepik.com/free-vector/simple-gradient-background-vector-winter-blue-pink_53876-105768.jpg?w=2000 );">
   <div> <text-align:c></text-align:c><h1>INTEL</h1></text-align:c>
    <IMG SRC="https://www.intel.in/content/dam/www/public/us/en/images/logos/logo-blue-background-rwd.png.rendition.intel.web.576.324.png"ALT="INTEL" height="50PX">
</div>
<PRE>We create world-changing technology that improves the life of every person on the planet.

    Intel put the silicon in Silicon Valley. For more than 50 years, Intel and our people have had a profound influence on the world, driving business and society forward by creating radical innovation that revolutionizes the way we live.
    
    Today we are applying our reach, scale, and resources to enable our customers to capitalize more fully on the power of digital technology. Inspired by Moore’s Law, we continuously work to advance the design and manufacturing of semiconductors to help address our customers’ greatest challenges.
    
    You will, at Intel
    
    Get ready to solve challenging problems and help develop technology that changes the world. At Intel, we’re empowered, supported, and inspired to make a difference, every day.
    Video link to be added: https://youtu.be/IFOq4UK2r0w
    
    Wonderful benefits at Intel
    
    Work is a blast when great performance wins you cash bonuses and paid leave covers your yearly vacay, topped with incredible health benefits, and more.
    
    Video link to be added: https://youtu.be/N9znq6CGRek
    
    Amazing works here
    
    We’re nurturing innovation, cultivating independent thought, and bringing together some of the biggest talents in the world to do something truly special. This is a place where your brilliance, energy, and curiosity can unleash potential and engineer brilliant solutions.

    Video link to be added: https://youtu.be/HJLSLJB8Mz8

    Diversity, Equity & Inclusion

    When you join the Intel team, you become part of an international community filled with unique voices and perspectives from all backgrounds — each one contributing their ideas and experiences to push the boundaries of technology. See how we're ensuring that inclusivity and accountability are embedded in our culture globally.

    Global Impact (RISE)
    Learn more about our strategy and goals for a more responsible, inclusive, and sustainable world, enabled through technology and our collective actions (RISE). It means 100% renewable energy, net positive water use by 2030, and a company you can be proud of. We're raising the bar for ourselves in a major way through our RISE strategy and goals, and we're just getting started.    

</PRE>
<P>
    <form action="student_data">
    <button type='submit'>APPLY</button>
    </form>

</P>
</body>
</html>