<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEGG</title>
</head>
    
<body style="background-image:url(https://img.freepik.com/free-vector/simple-gradient-background-vector-winter-blue-pink_53876-105768.jpg?w=2000 );">
   <div> <text-align:c></text-align:c><h1>CHEGG</h1></text-align:c>
    <IMG SRC="https://play-lh.googleusercontent.com/UqiaMYhCLH0q9KTWkSCKJYYLIL6c0lmon37X9p83htfTkko4aLkXgX51y8pBoDSCNUs"ALT="CHEGG" height="50PX">
</div>
<PRE>As the leading student-first connected learning platform, Chegg's Student Hub makes higher education more affordable and more accessible, all while improving student outcomes. Chegg is a publicly-held company based in Santa Clara, CA with offices in San Francisco, New York, Portland, India, Israel, Berlin, and Ukraine. Chegg Student Hub Services Includes; Chegg Study, Tutoring, Writing Tools, Math Help, Test Prep, Careers Search, Internship Admissions, and College Admissions.
</PRE>

</body>
</html>